body {
      background: #ececec;
    }
    .error_msg{
      color: red;
    }
    .loader {
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 99999;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .loader:before, .loader:after {
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      border-style: solid;
      border-top-color: #ECD078;
      border-right-color: #C02942;
      border-bottom-color: #542437;
      border-left-color: #53777A;
      content: '';
      transform: translate(-50%, -50%);
      animation: rotate 1.5s  infinite ease-in-out;
      z-index: 999;
    }
    .loader:before {
      border-width: 10vh;
    }
    .loader:after {
      width: 30vh;
      height: 30vh;
      border-width: 2.5vh;
      animation-direction: reverse;
    }

    @keyframes rotate {
      0% {
        transform: translate(-50%, -50%) rotate(0);
      }
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }  